<h1>URL Shortener</h1>

<p>Please enter your url below:</p>

<form action="/urls" method="post">
  <input type="url" name="url">
  <input type="submit" value="Shorten!">
</form>

<% if @new && @new.errors.any? %>
    <h2> Duplicate Url </h2>
    <% @new.errors.full_messages.each do |x| %>
    <p><%= x %></p>
    <% end %>
<% end %>

<h3>List of shortened URLs:</h3>

<form action="/delete" method="post">
  <button type="submit">Delete!</button>
</form>

<% @url.each do |x| %>
    <p>Original URL: <a href="<%=x.url%>"><%=x.url%></a></p>
    <p>Shortened URL: <a href="<%=x.shortened_url%>">www.jk/<%=x.shortened_url%></a></p>
    <p>Number of clicks: <%= x.clicks %></p>
<% end %>